
BackEndTest/WebApiTest/.vs/WebApiTest/DesignTimeBuild/.dtbcache
*.lock
*.ide
*.ide-wal
*.ide-shm
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/publish/WebApiTest.deps.json
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/publish/WebApiTest.runtimeconfig.json
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/WebApiTest.deps.json
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/WebApiTest.runtimeconfig.dev.json
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/WebApiTest.runtimeconfig.json
BackEndTest/WebApiTest/WebApiTest/bin/IISSupport/IISExeLauncherArgs.txt
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/publish/appsettings.json
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/publish/web.config
BackEndTest/WebApiTest/WebApiTest/bin/Debug/netcoreapp2.1/publish/appsettings.Development.json
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/PubTmp/Out/appsettings.Development.json
BackEndTest/WebApiTest/WebApiTest/obj/project.assets.json
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/WebApiTest.RazorAssemblyInfo.cs
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/WebApiTest.csproj.FileListAbsolute.txt
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/WebApiTest.AssemblyInfo.cs
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/PubTmp/Out/WebApiTest.runtimeconfig.json
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/PubTmp/Out/WebApiTest.deps.json
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/PubTmp/Out/web.config
BackEndTest/WebApiTest/WebApiTest/obj/Debug/netcoreapp2.1/PubTmp/Out/appsettings.json
BackEndTest/WebApiTest/WebApiTest/obj/WebApiTest.csproj.nuget.dgspec.json
BackEndTest/WebApiTest/WebApiTest/obj/WebApiTest.csproj.nuget.g.props
BackEndTest/WebApiTest/WebApiTest/obj/WebApiTest.csproj.nuget.g.targets
BackEndTest/WebApiTest/WebApiTest/Properties/PublishProfiles/FolderProfile.pubxml
